@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Barlow', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* for register route */
.register-heading{
  margin:4rem ;
}


.form{
  margin: 4rem;
  width: 40rem;
}


.boxs{
  max-width: 640px;
  margin: 0px auto;
  border-radius: 16px;
  border: 1px solid rgb(218, 222, 224);
  padding: 48px 80px;
}

.heading-login{
  display: flex;
  padding-bottom: 48px;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(19, 20, 21);
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: calc(-0.64px);
  font-weight: normal;
}

.login-button{
  height: 48px;
  padding: 0px calc(24px);
  border-radius: calc(12px);
  cursor: pointer;
  border: None;
  width: 100%;
  position: relative;
  color: rgb(255, 255, 255);
  background: rgb(117, 81, 233);
}


.ql-snow .ql-editor pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}

pre{
  background-color: #d4d4d4;
  color: #1a1a19;
  overflow: visible;

}
.ql-container {
  min-height: 10rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.parent-div {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.parent-div input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}

.btn-upload {
  background-color: #fff;
  border: 3px solid #000;
  color: #000;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
}

.round-circle{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.blog-image-set{
  width: 10rem;
  height: 10rem;
}
.icons{
  display: flex;
}

.card-footer-section{
  display: flex;
  justify-content: space-between;
}

.profile-post-card-image{
  height: 20rem;

}


.profile-pic-small{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.small-profile{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.loading-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-blog-profile{
  display: flex;
  justify-content: space-between;
}

.username-profile{
  display: flex;
}

.image-read-blog{
  height: 35rem;
}

.ql-editor {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.background-image{
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.big-text{
  font-size: 3rem;
}

.background-image-home{
  height: 25rem;
  background-position: center; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.flex-info{
  display: flex;
  justify-content: space-evenly;
}

.cursur{
  cursor: pointer;
}

.profile-pic{
  position: relative;
  bottom: 5rem;
  width: 10rem;
  height: 10rem;
  border: none;
  border-radius: 50%;
  margin-bottom: -50px;
}


/* comment-section */
.comment-section{
  display: flex;
}
.comment_input{
  width: 22rem;
  margin: 0rem 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

.pink{
  color: #d61031;
}

/* for media of mobile */

@media screen and (max-width: 768px) {
  .form{
    margin: 4rem;
    width: 20rem;
  }
  .comment_input{
    width: 14.8rem;
    margin: 0rem 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .big-text{
    font-size: 2rem;
  }

  .comment-by-user span{
    font-size: 0.9rem;

  }
}